
h1 {
	font-family: Portmanteau, Arial, san-serif;
	font-size: 16px;
	line-height: .5em;
	color: rgb(255,255,255);
}

h2 {
	font-family: Portmanteau, Arial, san-serif;
	font-size: 20px;
	line-height: 1.5em;
	color: rgb(69,85,96);
}

h3 {
	font-family: Portmanteau, Arial, san-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: rgb(69,85,96);
}

h4 {
	font-family: Portmanteau, Arial, san-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: rgb(245,128,36);
}

p {
	font-family: Arial, san-serif
	font-size: 9px;
	line-height: 1.5em;
	color: rgb(69,85,96);
}

a {
	text-decoration: none;
	color: rgb(255,255,255);
}

.important {
	color: rgb(245,128,36);
}